<div fxLayout="row" fxLayoutAlign="center center">
	<mat-card fxFlex="300px">
		<mat-card-content fxLayout="column" fxLayoutGap="20px">
			<div fxLayout="row" fxLayoutAlign="center">
				<span>selected {{ files.length }} images</span>
			</div>
			<div fxLayout="row" fxLayoutAlign="center">
				<input
					type="file"
					webkitdirectory
					directory
					#inputFolder
					hidden
					(change)="changeFolder($event)"
				/>
				<button
					mat-stroked-button
					color="accent"
					(click)="inputFolder.click()"
					fxFlex="100%"
				>
					Select folder
				</button>
			</div>

			<div fxLayout="row" fxLayoutAlign="center">
				<button
					fxFlex="100%"
					mat-raised-button
					color="primary"
					[disabled]="!files.length"
					(click)="continue()"
				>
					Continue
				</button>
			</div>
			<div fxLayout="row" fxLayoutAlign="center" *ngIf="isLogged">
				<a routerLink="/favorites">Go to favorites</a>
			</div>
			<div fxLayout="row" fxLayoutAlign="center" *ngIf="!isLogged">  
				<a routerLink="/auth/login">Login</a>
			</div>
		</mat-card-content>
	</mat-card>
</div>
