<div class="login-page">
	<mat-card appearance="outlined">
		<mat-card-content>
			<div class="mb2 center">
				<span> selected {{ files.length }} images</span>
			</div>
			<div class="mb2 center">
				<input
					type="file"
					webkitdirectory
					directory
					#inputFolder
					hidden
					(change)="changeFolder($event)"
				/>

				<button mat-stroked-button color="accent" (click)="inputFolder.click()">
					Select folder
				</button>
			</div>

			<div class="center">
				<button
					mat-raised-button
					color="primary"
					[disabled]="!files.length"
					(click)="continue()"
				>
					Continue
				</button>
			</div>

			<div class="center mt2">
				<div *ngIf="isLogged && !loading">
					<a routerLink="/favorites">Go to favorites</a>
				</div>
				<div *ngIf="!isLogged" (click)="login()">
					<button mat-button>
						<span *ngIf="!loading">Login with google</span>
						<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
					</button>
				</div>
				<div *ngIf="isLogged && !loading" (click)="logout()" class="mt1">
					<button mat-button>Logout</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
