<div class="flex flex justify-end pt2">
	<button mat-raised-button routerLink="/" style="margin-right: 30px">
		Go to home
	</button>
</div>
<div class="mt4" *ngIf="!favorites.length || loading">
	<div *ngIf="!favorites.length && !loading" class="center">
		<span>Not found favorites</span>
	</div>
	<div *ngIf="loading" class="center">
		<span class="center">loading...</span>
	</div>
</div>

<div class="favorites">
	<div *ngFor="let favorite of favorites">
		<div class="favorite-card">
			<div class="image">
				<img [src]="favorite.baseUrl" />
			</div>
			<div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
				<button mat-icon-button (click)="open(favorite)">
					<mat-icon> open_in_new </mat-icon>
				</button>
				<button mat-icon-button (click)="remove(favorite)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
