/* You can add global styles to this file, and also import other style files */

:root {
	--background: #000;
	--green: #00c853;
	--red: #ff1744;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: var(--background);
}

.mat-green {
	background-color: var(--green);
	color: white;
}

.mat-snack-bar-container {
	width: fit-content !important;
	min-width: fit-content !important;
}
.mat-snack-bar-container span {
	font-size: 1.2rem !important;
	margin: 0px 20px;
}
.mat-snack-bar-container.error {
	background-color: var(--red);
	color: white;
}

.mat-snack-bar-container.success {
	background-color: var(--green);
	color: white;
}
